$background: #E8E8E8;
$postText: black;
$appWidth: 1200px;
$postBackground: white;
$postIconHeight: 60px;
$postPopularityBackGround: #CEC288;
$addUser-background-color: #00AAAF;

html {
  padding-bottom: 700px;
}

a {
  color: $postText!important;
}

body {
  background-color: $background!important
}

#main {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 
  "allPosts addPost"
};

#allPosts {
  grid-area: allPosts
};

#main-container {
  width: 1500px;
}

#addPost {
  grid-area: addPost;
  background-color: $addUser-background-color;
}

#addUser {
  background-color:$addUser-background-color;
}

#username-input-label {
  color: white;
}

#main-page-button {
  background-color: $addUser-background-color;
}

.form-inline {
  align-items: normal!important;
  flex-wrap: nowrap!important;
}

#posts {
  .post {
    background-color: $postBackground;
  }

  .message {
    white-space: pre-wrap;
  }

  .post-username {
    a {
      color: lightskyblue;
      font-size: 14px;
      font-weight: bold;
    }
  }  

  .message {
    font-size: 16px;
  }

  a {
    color: $postText!important
  };

  .post-icons {
    height: $postIconHeight;
  };

  .post {
    overflow: hidden;

    hr {
      margin-top: 4px;
    }

    .post-body {
      width: 100%;
    };

    .post-popularity {
      background-color: $postPopularityBackGround!important;
      width: 10px;
    }
  };
}

